@model TaxiManagementSystem.Models.Owner


@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
}



<div class="container">
    <div class="row">
        <p>
            Welcome to the Taxi management system.
        </p>
    </div>

</div>

