@model ScheduleViewModel

@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ var sId = Model.ScheduleId; }

<link href='~/lib/fullcalendar-5.7.2/lib/main.css' rel='stylesheet' />
<script src='~/lib/fullcalendar-5.7.2/lib/main.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var eventsList = JSON.parse('@Html.Raw(Json.Serialize(Model.Events))');
        var schduleList = JSON.parse('@Html.Raw(Json.Serialize(Model.AllSchedules))');

        var calendar = new FullCalendar.Calendar(calendarEl,
            {
                headerToolbar: {
                    left: 'prevYear,prev,next,nextYear today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                initialDate: Date.now(),
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectMirror: true,
                dayMaxEvents: true, // allow "more" link when too many events
            events: eventsList
        });

        calendar.render();
    });
</script>
<style>

    #calendar {
        max-width: 1100px;
        margin: 0 auto;
    }
</style>

<div class="container">
    <div class=" row">
        <div class="col-sm-8"><h3> My Schedule</h3></div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class=" row ">
        <div id="calendar"></div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
