<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaxiManagementSystem</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css"
          rel="stylesheet" />
    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>

        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <div class="row">
                    <div class="col-sm-2 py-2">
                        <a class=" noHover" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fab fa-microsoft fa-2x"></i>
                            <p class="text-white">
                                Dashboard
                            </p>
                        </a>
                    </div>
                    <div class="col-sm-2 py-2">
                        <a class=" noHover" asp-area="" asp-controller="Earnings" asp-action="MyEarnings">
                            <i class="fas fa-dollar-sign fa-2x"></i>
                            <p class="text-white">
                                Income
                            </p>
                        </a>
                    </div>
                    <div class="col-sm-2 py-2">
                        <a class=" noHover" asp-area="" asp-controller="Schedules" asp-action="DriverSchedule">
                            <i class="fas fa-calendar-alt fa-2x"></i>
                            <p class="text-white">
                                Schedule
                            </p>
                        </a>
                    </div>
                    <div class="col-sm-2 py-2">
                        <a class=" noHover" asp-area="" asp-controller="Home" asp-action="MyAccount">
                            <i class="fas fa-users-cog fa-2x"></i>
                            <p class="text-white">
                                My Account
                            </p>
                        </a>
                    </div>
                    <div class="col-sm-2 py-2">
                        <a class=" noHover" asp-area="" asp-controller="Users" asp-action="Logout">
                            <i class="fas fa-power-off fa-2x"></i>
                            <p class="text-white">
                                Logout
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarToggleExternalContent"
                        aria-controls="navbarToggleExternalContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <h4 class="text-white-50">Fateh Group Private Limited </h4>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<!-- Footer -->
<footer class="bg-dark text-center text-white-50">
    <div class="text-center" style="        background-color: #4f4f4f;">
        © 2020 Copyright:
        <a class="text-white" href="#">Fateh Group Private Limited </a>
    </div>
    Copyright 
</footer>
<!-- Footer -->


<style>
    a {
        color: inherit;
        text-decoration: none;
    }

    .noHover {
        color: unset !important;
    }
    footer {
        position: fixed;
        bottom: 0px;
        height: 30px;
        width: -webkit-fill-available;
    }
</style>
   
    @RenderSection("Scripts", required: false)
</body>
</html>
