@model TaxiManagementSystem.Models.LoginViewModel


@{
    bool invalidLogin = Model?.UserId == -1;
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3> Forgot Password</h3>
            <form asp-controller="Users" asp-action="ValidateForgotPassword" id="forgot">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" required />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>                       
                <div class="form-group">
                    <input type="submit" value="Forgot password" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("forgot").onsubmit = function() {myFunction()};

function myFunction() {
  alert("A forgot password email has been sent to your mail.");
}
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

