@model TaxiManagementSystem.Models.ResetPasswordViewModel


@{
    bool invalidLogin = Model?.UserId == -1;
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3> Forgot Password</h3>
            <form asp-controller="Users" asp-action="ValidateResetPassword" id="reset">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="UserId" value=@Model.UserId />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="UserName" value=@Model.UserName />
                        </div>
                        <div class="form-group">
                            <label asp-for="ResetPassword" class="control-label"></label>
                            <input asp-for="ResetPassword" class="form-control" required />
                            <span asp-validation-for="ResetPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmResetPassword" class="control-label"></label>
                            <input asp-for="ConfirmResetPassword" class="form-control" required />
                            <span asp-validation-for="ConfirmResetPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Forgot password" class="btn btn-primary" />
                        </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

